<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebSharepointSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebSharepointSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dt1-v-1capp09.biosfera.net/nazarevich_biosfera_upp_main/ws/websharepoint"
                binding="basicHttpBinding" bindingConfiguration="WebSharepointSoapBinding"
                contract="Service1C.WebSharepointPortType" name="WebSharepointSoap" />
            <endpoint address="http://dt1-v-1capp09.biosfera.net/nazarevich_biosfera_upp_main/ws/websharepoint"
                binding="customBinding" bindingConfiguration="WebSharepointSoap12Binding"
                contract="Service1C.WebSharepointPortType" name="WebSharepointSoap12" />
        </client>
    </system.serviceModel>
</configuration>